body {
    text-align: center;
    width: auto;
}

.page-container {
  margin-top: 60px;
  background-color: #FDFDFE; 
}

.navigation-bar {
  background-color: white;
  color:black;
  font-size: 14 px;
  font-weight: 700;
}

.button-class {
    background-color: white;
    color:black;
    border: 2px solid red;
    border-radius: 4px;
    padding: 16px 32px;
    margin:6px;
    width: 15em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14 px;
    font-weight: 700;
    transition-duration: 1s;
}

.button-class:hover,
.button.class:focus,
.button.class:active {
    cursor: pointer;
    background-color: red;
    color:white;
    border: 2px solid red;
}

.pokemon-modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid red;
  background: white;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
  font-size: 14 px;
  font-weight: 700;
}
  
.modal-close {
  float: right;    
  background-color: white;
  color: black;
  border-radius: 4px;
  border: 1px solid red;
  text-align: center;
  text-decoration: none;
  font-size: 14 px;
  font-weight: 700;
  transition-duration: 2s;
}

.modal-close:hover,
.modal-close.class:focus,
.modal-close:active {
  cursor: pointer;
  background-color: red;
  color:white
}
  
.modal h1 {
  margin-top: 0;
}
  
.modal p {
  margin-bottom: 0;
}

@media all and (max-width: 768px) {
    .button-class {
        padding: 16px 32px;
    }
}
